<!DOCTYPE html>
<html lang="en">
    <!-- without design head -->
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textformatter</title>
</head> -->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>TextFormatter</title>
  </head>
  
<body>
    <!-- Hero Section  -->
    <section class="hero hero-body is-info container">
      <!-- <figure class="image is-128x128">
        <img src="./img/Location-info-img.svg" />
      </figure> -->

      <h1 class="title">Text Formatter</h1>

      <div class="field">
        <p>Text Before Formatting </p>
       <pre>{{text}}</pre>
    </div>
     
    <p>
      <p>Text After Formatting </p>

         <pre>{{analysed_text}}</pre>
    </p>
    
</body>
</html>